<h1>Help</h1>
<p>
  Get help on Custom Market Report at the
  <a href="http://constructionmarketreport.com">Construction Market Report help page</a>.
  To get help on this sample app, see the
  <a href="http://constructionmarketreport.com">Construction Market Report FAQ</a>.
</p>
