<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", '#' %</li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://constructionmarketreport.com/">News</a></li>
      <li><a href="http://constructionmarketingreport.com/">Application Tutorial"</a></li>
    </ul>
    </nav>
</footer>
